.caja{
  color: rgb(0, 0, 0);
  margin-left: 30px;
}

.boton{
  padding: 10px 10px;
  background-color: blue;
  border: none;
  margin-right: 10px;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 5px;
  color: white;
}


.error{
  background-color: black;
  color: white;
  width: 100px;
}