<div class="btn">
  <div [style.fontSize.px]="cambiar" class="cuadro">
    Hola mundo
  </div>


  <button type="button" (click)="aumentar()" [disabled]="cambiar===500" class="boton">
    Aumentar</button>


  <button type="button" (click)="disminuir()" [disabled]="cambiar===5" class="boton">
    Disminuir
  </button>


  <div class="error">
    <span>{{ text }}</span>
  </div>
</div>